version: '3.8'
services:
  nodejs-app:
    build:
      context: .
      dockerfile: Dockerfile
    image: nodejs-app:latest
    environment:
      PORT='5000'
      MONGODB_URI= ${MONGODB_URI}
    ports:
      - "${PORT}:5000"
